 $colorPrimaria: #101883;
 
 // fontes
 $colorFonteCinzaClaro:#666666;
 $colorFonteCinzaEscura: #333333;

 // menu 
 $colorhalloween: #0a58c2;
 $colorTemaFesta: #ea4335;
 $colorFantasia: #fcac00;
 $colorDescartaveis: #00a000;
 $colorArtigosFesta: #5f3ff9;
 $colorBaloesBexigas: #a400ae;
 $colorDoces: #d24826;
 $colorLembrancinhas: #459d6d;
 $colorTodasCategorias: #00bff3;

 // cores botoes
 $colorButtonCompra: #fcac00;
 $colorButtonEspiar: #494fa1;
 
 // target lançamento
 $colorTargetFonte : #db6262;
 $colorTargetBorda : #fed4d4;
 
 // cores produto
 $colorProd1: #8f88ba;
 $colorProd2: #dc9c7c;
 $colorProd3: #9d6da5;
 $colorProd4: #801815;
 $colorProd5: #898013;
 
 // cor desconto
 $colorDesconto: #2c4390;

 // cores footer
 $colorFooterEmail: #ffbd07;
 $colorFooterMain: #101883;

